.bodyContainer__whatsButton {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  position: fixed;
  bottom: clamp(10px, 5vh, 40px);
  right: clamp(10px, 5vw, 40px);
  padding: clamp(8px, 2vw, 16px);
  min-width: 200px;
  max-width: 200px;
  z-index: 1000;
}

/* Desing content cross */

.contentWhats__crossExit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.contentWhats__crossExit > div {
  display: flex;
  justify-content: end;
  align-items: center;
  width: inherit;
  height: inherit;
  margin: 0px 10px 10px 0px;
}

.crossExit__modifyStyle {
  cursor: pointer;
  border-radius: 16px;
  transition: all 0.3s ease-in-out;
}

.crossExit__modifyStyle:hover {
  box-shadow: 0px 0px 10px var(--background-generalColor-light);
}

/* Desing container information */

.whatsButton__divInformation {
  display: none;
  justify-content: end;
  align-items: center;
  width: 100%;
  height: 100%;
}

.divInformation__content-whats {
  display: block;
  width: 100%;
  height: inherit;
  justify-items: end;
  align-items: center;
}

.contentWhats__divParagrahp {
  box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.2);
  margin-bottom: 10px;
  border-radius: 15px;
  overflow: hidden;
}

.contentWhats__divParagrahp > div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-generalColor-light);
  width: 100%;
  height: 100%;
  padding: 14px;
}

.contentWhats__divParagrahp > div:first-child > span > p {
  margin-bottom: 0;
  padding-bottom: 3px;
  color: #f9f1f0;
}

.contentWhats__divParagrahp > div:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px;
  width: 100%;
  height: 100%;
  background-color: var(--containerArticles-colors);
}

/* Desing input */

.contentWhats__divInput {
  border-radius: 14px;
  box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.2);
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: var(--containerArticles-colors);
}

.contentWhats__divInput > form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
}

.contentWhats__divInput > form > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 14px;
  width: 100%;
  height: 100%;
  gap: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.contentWhats__divInput > form > div > input::placeholder {
  letter-spacing: 1.1px;
  font-weight: bold;
  opacity: 0.5;
}

.divInput__inputText-whats {
  padding: 5px;
  border: none;
  background-color: var(--containerArticles-colors);
}

.divInput__inputText-whats:focus {
  outline: none;
}

.divInput__buttonSend {
  padding: 5px;
  outline: none;
}

/* Desing button whatsapp */

.whatsButton__divContent {
  display: flex;
  width: 100%;
  justify-content: end;
  align-items: center;
}

.whatsButton__divContent > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10em;
  margin-top: 20px;
  gap: 10px;
  cursor: pointer;
  background-color: var(--button-color);
  border-radius: 10px;
  padding: 10px;
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
}

.whatsButton__divContent > div:hover {
  opacity: 1;
  box-shadow: 0px 0px 10px var(--shadows);
}

.divContent__button-whats {
  display: flex;
  justify-content: center;
  align-items: center;
}

.divContent__button-whats > span {
  text-align: center;
  color: #f9f1f0;
  font-weight: bold;
  letter-spacing: 2px;
}

/* Animation container */

.closeContainer__information {
  animation: closeInformation 0.3s ease-in-out forwards;
}

@keyframes closeInformation {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(500px);
  }
}

.deployContainer__information {
  animation: openInformation 0.3s ease-in-out forwards;
}

@keyframes openInformation {
  from {
    transform: translateY(500px);
  }

  to {
    transform: translateY(0px);
  }
}