<header>
  <link href="/css/navbar.css" rel="stylesheet" />
  <div class="header__divLeft">
    <div class="imageContainer"></div>
    <img src="" alt="logotipo" />
  </div>
  <div class="header__divCenter">
    <nav>
      <ul class="navMenu">
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Conoceme</a></li>
        <li>
          <a href="#">Servicios</a>
          <ul class="menuSubmenu">
            <li>
              <a href="#">Terapias psicologicas</a>
              <ul class="menuSubmenu__sub">
                <li><a href="#">¿Necesito ayuda profesional?</a></li>
                <li><a href="#">Terapias</a></li>
              </ul>
            </li>
            <li><a href="#">Orientacion a estudiantes</a></li>
            <li><a href="#">Asesoria a docentes</a></li>
          </ul>
        </li>
        <li><a href="#">Para empresas</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
    </nav>
  </div>

  <div class="header__divRight">
    <button class="header__divButton">Agendar cita</button>
  </div>
</header>
