<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
    <link href="/css/styles.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins&family=Great+Vibes&display=swap"
      rel="stylesheet" />
  </head>
  <body>
    <div class="container" style="">
      <div class="servicios-barrido-js">
        <div class="img-container">
          <img src="/images/logo-2.jpg" alt="" />
        </div>
        <h1>Milagros bolanos</h1>
        <span class="Animate-text">Click Emocional</span>
      </div>
    </div>
    <script src="/js/script.js"></script>
  </body>
</html>
